body {
    position: relative;
    margin-bottom: 100px !important;
}

.box {
    height: 200px;
}

.container {
    background-color: #fff;
}

form input,
form select {
    width: 250px;
    border-radius: 5px;
    border: 1.8px solid #ddd;
    outline: none!important;
}

@media only screen and (max-width: 991px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
    form input,
    form select {
        width: 200px;
    }
    .form-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .form-title {
        font-size: 20px;
    }
}